<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Pogolo.io</title>
		<link rel="stylesheet" href="./css/main.css">
	</head>
	<body>
		<!--Menu UI-->
		<div id = "menu" class = "page fit column">
			<div id = "game-title">
				POGOLO
			</div>
			<div id = "color-select" title="Color Select"></div>
			<div class = "fit row">
				<div class = "content">
					<div class = "box row" style = "background-color: rgb(57,57,257); border-bottom: 10px solid rgb(20,20,220); max-width:400px;">
						<h1>IceHacks</h1>
						<div class="spacer"></div>
						<button>Join</button>
					</div>
				</div>
				<div id = "menu-middle-div">
					<div id = "middle-ads">ADS</div>
					<div class = "row">
						<div>
							<svg class = "svg-triangle" width='50' height='100'>
							<path d="M 5,50 45,5 45,95 Z"/>
							</svg>
						</div>
						<div class = "column fit">
							<input class = "menu-options" id = "player-name">
							<button class = "menu-options" id = "play-button">Play</button>
						</div>
						<div>
							<svg class = "svg-triangle" width='50' height='100'>
							<path d="M 5,5 45,50 5,95 Z"/>
							</svg>
						</div>
					</div>
				</div>
				<div class = "content">
					<div class = "box row" style = "background-color: rgb(217,57,57); border-bottom: 10px solid rgb(220,20,20); max-width: 400px;">
						<h1>YouTube</h1>
						<div class="spacer"></div>
						<button>Subscribe</button>
					</div>
				</div>
			</div>
		</div>

		<!--Color UI-->
		<div id = "colors" class = "page fit" style = "display:none">
			
		</div>

		<!--Game UI-->
		<div id = "game" class = "page fit" style = "display:none">
			<!--Leaderboard-->
			<ol id = "playerlist">
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ol>
			<!--Killed-->
			<div id = "kill_chart" class = "fit column"></div>
		</div>
	</body>
</html>